@import "../../Components/style/default.scss";

body {
  min-width: 350px;
}

.container-login-home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $background-color;
  .img-logo {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
