@import "../../Components/style/default.scss";

.wrap-linkmembership {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  a {
    font-family: "SpoqaHanSansNeo-Regular";
    color: $subtext-color;
    text-decoration: none;
  }

  .line {
    margin: 0 12px 0 12px;
    color: #c4c4c4;
    font-weight: 400;
    font-size: 14px;
  }
}
