@import "../../components/style/default.scss";

.container-comment-page {
  width: 100%;
  margin-top: 68px;
  .wrapper-comment-post {
    width: 358px;
    padding: 20px 0 0;
    margin: auto;
  }
}
