@import "../../components/style/default.scss";

.wrapper-follow {
  width: 100%;
  min-width: 390px;
  height: 100%;
  margin-top: 48px;
  background-color: $white;

  .wrapper-list-follow {
    max-width: 390px;
    margin: 0 auto;
    padding: 24px 16px;
  }

  .wrapper-item-follow {
    display: flex;
    align-items: center;
    position: relative;

    .wrapper-follow-info {
      display: flex;
    }
  }
  .btn {
    position: absolute;
    right: 0;
    top: 9px;
  }
}
