@import "../../components/style/default.scss";
@import "../../components/style/reset.scss";

.container-form-product {
  min-width: 322px;
  padding-top: 78px;
  .wrapper-productimg {
    position: relative;
    height: 204px;
    margin-top: 18px;
    border: 0.5px solid $line-color;
    border-radius: 10px;
    background-color: $search-input-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .label-upload-icon {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 12px 8px 0;
      cursor: pointer;
    }
  }
  .wrapper-productname {
    margin-top: 30px;
  }
  .wrapper-price,
  .wrapper-salelink {
    margin-top: 16px;
  }
  .text-upload-img,
  .label-productname,
  .label-price,
  .label-salelink {
    font-family: $basic-font;
    font-size: 12px;
    line-height: 15px;
    color: $subtext-color;
  }
}

#input-productname,
#input-price,
#input-salelink {
  width: 100%;
  padding: 6px 0 8px;
  border: none;
  border-bottom: 1px solid $line-color;
  outline: 0;
  font-family: $basic-font;
  &:focus {
    border-bottom: 1px solid $primary-color;
  }
  &::placeholder {
    color: $line-color;
    font-family: $basic-font;
    font-size: 14px;
  }
}
