@import "../../../Components/style/default.scss";

.container-chatroom {
  height: calc(100% - 106px);
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  margin-top: 48px;
  background-color: rgb(230, 230, 230);

  .wrapper-chatroom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 20px 16px;
  }
}
