@import "../../components/style/default.scss";

.btn {
  font-family: $medium-font;
  padding: 7px 11px;
  border-radius: 32px;
  &.false {
    color: $white;
    background-color: $primary-color;
  }
  &.true {
    color: $subtext-color;
    background-color: $white;
    border: 1px solid #dbdbdb;
  }
  &.btn-s {
    width: $btn-s;
    font-size: 12px;
  }
  &.btn-ms {
    width: $btn-ms;
  }
  &.btn-m {
    width: $btn-m;
    padding: 8px 0;
    font-size: 14px;
  }
}
