@import "../../components/style/default.scss";

.btn {
  box-sizing: border-box;
  font-family: $medium-font;
  padding: 7px 11px;
  border-radius: 32px;
  &.false {
    color: $white;
    background-color: $primary-color;
  }
  &.true {
    color: $subtext-color;
    background-color: $white;
    box-shadow: 0 0 0 1px $line-color inset;
  }
  &.btn-s {
    width: $btn-s;
    font-size: 12px;
  }
  &.btn-ms {
    width: $btn-ms;
  }
  &.btn-m {
    width: $btn-m;
    padding: 8px 0;
    font-size: 14px;
  }
  &:hover,
  &:active,
  &:focus {
    box-shadow: 0px 0px 1px #7f7f7f;
  }
}
