@import "../../Components/style/default.scss";

.wrapper-btn-like {
  display: inline-block;

  .btn-like {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    vertical-align: middle;
    background-image: url(../../assets/icon-heart.svg);
  }
  .btn-liked {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    vertical-align: middle;
    background-image: url(../../assets/icon-heart-fill.svg);
  }
  .text-like-num {
    font-family: $basic-font;
    font-size: 12px;
    line-height: 12px;
    color: $subtext-color;
  }
}
