@import "../../components/style/default.scss";

.btn-profile {
  width: $btn-m;
  padding: 8px 0;
  border: 1px solid $line-color;
  background-color: $white;
  color: white;
  border-radius: 30px;
  color: $subtext-color;
  font-size: 14px;
  font-family: $medium-font;
  &.edit {
    margin-right: 12px;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: $primary-color;
    color: white;
    border: none;
    box-shadow: 1px 1px 5px #b6b6b6;
  }
}
