@import "../../Components/style/default.scss";

.btn-save {
  width: $btn-ms;
  height: 32px;
  border-radius: 32px;
  font-family: $medium-font;
  font-size: 14px;
  color: $white;
  &.true {
    background-color: $primary-color;
  }
  &.false {
    background-color: $disabled-color;
    cursor: default;
  }
}

