@import "../../Components/style/default.scss";

.btn-save{
  width: 90px;
  height: 32px;
  border-radius: 32px;
  color: $white;
  font-family: $medium-font;
  font-size: 14px;
  line-height: 17px;
  &.true {
    background-color: $primary-color;
  }
  &.false {
    background-color: $disabled-color;
    cursor: default;
  }
}