@import "../../../Components/scss/default.scss";

.btn-signup {
  width: 100%;
  height: 44px;
  margin-top: 30px;
  border-radius: 44px;
  font-family: $medium-font;
  color: $white;
  &.true {
    background-color: $disabled-color;
  }

  &.false {
    background-color: $primary-color;
  }
}
