@import "../../../components/style/default.scss";

.wrapper-message {
  position: relative;
  display: flex;
  margin-bottom: 9px;

  .wrapper-text-message {
    display: flex;
    align-items: flex-end;
    gap: 6px;
  }
  .text-message {
    max-width: 240px;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    border-top-left-radius: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .text-message-time {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #6c6c6c;
    align-self: flex-end;
  }

  &.send {
    justify-content: end;
    .wrapper-text-message {
      flex-direction: row-reverse;
    }
    .text-message {
      background-color: $primary-color;
      border: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 0;
      color: #fff;
    }
  }
}
