.wrap-link-member {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  a {
    font-family: 'Spoqa Han Sans Neo';
    color: #767676;
    text-decoration: none;
  }

  .line {
    margin: 0 12px 0 12px;
    color: #C4C4C4;
    font-weight: 400;
    font-size: 14px;
  }

}