@import "../../../Components/style/default.scss";
.logo-home{
  margin-bottom: 20px;
}

.text-home-search{
  font-family: $basic-font;
  font-size: 14px;
  line-height: 14px;
  color: $subtext-color;
  margin-bottom: 20px;
}

.btn-home-search{
  width: 120px;
  height: 44px;
  border-radius: 44px;
  background-color: $primary-color;
  font-family: $medium-font;
  font-size: 14px;
  line-height: 17px;
  color: $white;
}