@import "../../../Components/style/default.scss";

.logo-home {
  width: 180px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-home-search {
  margin-top: 100px;
  font-family: $basic-font;
  font-size: 14px;
  line-height: 14px;
  color: $subtext-color;
  margin-bottom: 20px;
}

.btn-home-search {
  width: 120px;
  height: 44px;
  border-radius: 44px;
  background-color: $primary-color;
  font-family: $medium-font;
  font-size: 14px;
  line-height: 17px;
  color: $white;
}
