@import "../../../Components/style/default.scss";

.container-chatpage {
  padding-bottom: 48px;
  margin-top: 48px;
  background-color: #fff;

  .wrapper-chatpage {
    width: 390px;
    margin: auto;
    display: flex;
    overflow-y: scroll;
    padding: 24px 16px;
  }
}
