@import "../../../Components/style/default.scss";

.list-chatpage {
  width: 100%;
  font-family: $basic-font;

  .wrapper-chatitem {
    position: relative;
    .item-chatpage {
      display: flex;
      align-items: center;
    }
    .text-chat-date {
      position: absolute;
      right: 0;
      bottom: 26px;
      font-size: 10px;
      line-height: 12.52px;
      color: $line-color;
    }
  }
}
