//Root 변수//

//font-family
$basic-font: "SpoqaHanSansNeo-Regular"; //weight: 400;
$medium-font: "SpoqaHanSansNeo-Medium"; //weight: 500;
$bold-font: "SpoqaHanSansNeo-Bold"; //weight: 700;

//color
$primary-color: #f26e22;
$background-color: #ea7f42;
$text-color: #000000;
$subtext-color: #767676;
$white: #ffffff;
$line-color: #dbdbdb;
$disabled-color: #ffc7a7;
$warning-color: #eb5757;
$facebook-color: #2d9cdb;
$kakao-color: #f2c94c;
$search-input-color: #f2f2f2;
$search-placeholder-color: #c4c4c4;
$profile-background-color: #f2f2f2;
