@import "../../Components/style/variables";

.container-uploadpost {
  width: 100%;
  padding-top: 48px;
  .wraper-form-uploadpost {
    display: flex;
    margin: 0 auto;
    width: 390px;
    padding: 16px;
  }
  .img-profile-uploadpost {
    width: 42px;
    height: 42px;
  }
  .textarea-uploadpost {
    flex-grow: 1;
    padding-top: 12px;
    margin: 0 13px;
    height: 100px;
    vertical-align: middle;
    line-height: 18px;
    font-family: $basic-font;
    font-size: 14px;
  }
  .label-upload-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 16px 16px 0;
  }
}
