@import "../../../components//style/default.scss";

.container-post {
  height: auto;
  margin-top: 6px;
  border-top: 1px solid #dbdbdb;
  background-color: $white;

  .wrapper-post {
    overflow: hidden;
    width: 390px;
    margin: auto;
  }
  .container-view-btn {
    border-bottom: 1px solid #dbdbdb;
  }
  .wrapper-view-btn {
    display: flex;
    justify-content: flex-end;
    gap: 22.5px;
    width: 390px;
    padding: 9px 16px;
    margin: auto;
    .btn-view {
      width: 26px;
      height: 26px;
      background-size: cover;
      background-position: center;
      &.list {
        &.on {
          background-image: url(../../../assets/icon-post-list-on.svg);
        }
        &.off {
          background-image: url(../../../assets/icon-post-list-off.svg);
        }
      }
      &.album {
        &.on {
          background-image: url(../../../assets/icon-post-album-on.svg);
        }
        &.off {
          background-image: url(../../../assets/icon-post-album-off.svg);
        }
      }
    }
  }
  .list-posts {
    padding: 16px 16px 70px;
  }
}

// 앨범 view 스타일
.list-posts.album {
  display: flex;
  flex-wrap: wrap;
  .list-album {
    width: 50px;
    a {
      .img-list-album {
        width: 100%;
      }
    }
  }
}
