@import "../../../components/style/default.scss";

.container-photo-upload {
  display: flex;
  gap: 8px;
  overflow: hidden;
  .list-photo-upload {
    position: relative;
    width: 304px;
    height: 228px;
    border: 0.5px solid $line-color;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .list-photo-upload.blind {
    display: none;
  }
  .btn-remove-img {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    width: 22px;
    height: 22px;
    background: url("../../../assets/icon-x.svg") no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}
