@import "../../components/style/default.scss";

.container-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 10;
  background-color: $white;

  .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 48px;
    padding: 0 16px;
    border-bottom: 1px solid $line-color;
    font-family: $medium-font;

    &.chat-room,
    &.follow {
      justify-content: flex-start;
    }

    .chat-user {
      margin-left: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $text-color;
    }
    .title {
      margin-left: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $text-color;
    }
  }
  .btn-more {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }
}
.title-header {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  color: $text-color;
}
