@import "../../Components/style/default.scss";

.search-input{
  width: 100%;
  height: 32px;
  padding-left: 16px;
  margin-left: 20px;
  border: none;
  border-radius: 32px;
  outline: none;
  background-color: $search-input-color;
  &::placeholder {
    color: $search-placeholder-color;
    font-family: $basic-font;
    font-size: 14px;
  }
}