@import "../../../Components//style/default.scss";

.header-mypage {
  background-color: $white;
  margin-top: 48px;
  padding: 30px 0 26px;
  text-align: center;
  .container-image-profile {
    position: relative;
    .text-follow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      gap: 6px;
      font-size: 10px;
      font-family: $basic-font;
      .text-follow-number {
        font-size: 18px;
        font-family: $medium-font;
      }

      &.follower {
        left: 56px;
      }
      &.followings {
        right: 56px;
      }
    }
  }

  .text-username {
    font-size: 16px;
    font-family: $bold-font;
    padding-top: 16px;
  }
  .text-accountname {
    display: block;
    padding-top: 6px;
    font-size: 12px;
    font-family: $basic-font;
  }
  .text-profile-info {
    padding: 16px 0 24px;
    font-size: 14px;
    font-family: $basic-font;
  }
}
