@import "../../../Components//style/default.scss";

.header-mypage {
  padding: 30px 0 26px;
  margin-top: 48px;
  border-bottom: 1px solid #dbdbdb;
  background-color: $white;
  text-align: center;

  .wrapper-header-mypage {
    width: 390px;
    margin: auto;
  }
  .container-img-profile {
    position: relative;
    .txt-follow {
      display: flex;
      flex-direction: column;
      gap: 6px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-family: $basic-font;
      font-size: 10px;
      .txt-follow-num {
        font-family: $medium-font;
        font-size: 18px;
      }

      &.follower {
        left: 56px;
      }
      &.followings {
        right: 56px;
      }
    }
  }

  .txt-username {
    padding-top: 16px;
    font-family: $bold-font;
    font-size: 16px;
  }
  .txt-accountname {
    display: block;
    padding-top: 6px;
    font-family: $basic-font;
    font-size: 12px;
  }
  .txt-profile-info {
    padding: 16px 0 24px;
    font-family: $basic-font;
    font-size: 14px;
  }
}
