@import "../../../Components/style/default.scss";

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-section {
  font-family: $medium-font;
  color: $subtext-color;
  .title-eamilsignup {
    margin-top: 30px;
    font-family: $medium-font;
    color: $text-color;
    font-size: 24px;
    text-align: center;
    line-height: 1;
  }

  .content-form {
    width: 322px;
    margin-top: 40px;
    .label-email,
    .label-password {
      font-family: $medium-font;
      font-size: 12px;
      color: $subtext-color;
    }
    input {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 16px;
      padding-bottom: 8px;
      border: none;
      border-bottom: 1px solid $line-color;
      outline: 0;
      font-family: $basic-font;
      &:focus {
        border-bottom: 1px solid $primary-color;
      }
      &::placeholder {
        color: $line-color;
        font-family: $basic-font;
        font-size: 14px;
      }
    }
    #input-password {
      margin-bottom: 0;
    }
  }
}

/*파일업로드 input태그 숨김처리*/
input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
