@import "../../../Components/style/default.scss";

.signup-section {
  font-family: $medium-font;
  color: $subtext-color;
  .title-signup {
    margin-top: 30px;
    font-family: $medium-font;
    color: $text-color;
    font-size: 24px;
    text-align: center;
    line-height: 1;
  }

  .container-form {
    width: 322px;
    margin-top: 40px;
    .wrapper-email,
    .wrapper-password {
      margin-top: 10px;
      margin-bottom: 16px;
    }
    .label-email,
    .label-password {
      font-family: $medium-font;
      font-size: 12px;
      color: $subtext-color;
    }
    #input-email,
    #input-password {
      width: 100%;
      padding: 8px 0 8px;
      border: none;
      border-bottom: 1px solid $line-color;
      outline: 0;
      font-family: $basic-font;
      &:focus {
        border-bottom: 1px solid $primary-color;
      }
      &::placeholder {
        color: $line-color;
        font-family: $basic-font;
        font-size: 14px;
      }
    }
    #input-password {
      margin-bottom: 0;
    }
  }
  .errorMsg {
    display: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-top: 6px;
    &.email {
      &.true {
        color: green;
        display: block;
      }
      &.false {
        color: red;
        display: block;
      }
    }
    &.password {
      &.true {
        display: none;
      }
      &.false {
        color: red;
        display: block;
      }
    }
    &.accountname {
      &.true {
        color: green;
        display: block;
      }
      &.false {
        color: red;
        display: block;
      }
    }
  }
}

/*파일업로드 input태그 숨김처리*/
input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
