@import "../../../Components/style/default.scss";

.container-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #dbdbdb;

  .list-comments {
    width: 358px;
    .comment {
      margin-bottom: 16px;
    }
  }
}

.wrapper-comment-author {
  .comment-author-profile {
    vertical-align: middle;
    width: 36px;
    height: 36px;
  }
  .text-comment-author-name {
    vertical-align: middle;
    margin: 0 6px 0 12px;
    font-family: $medium-font;
    font-size: 14px;
    line-height: 17px;
    color: $text-color;
  }
  .text-comment-time {
    vertical-align: middle;
    font-family: $basic-font;
    font-size: 10px;
    line-height: 12px;
    color: $subtext-color;
  }
  .btn-user-more {
    float: right;
    margin-top: 9px;
  }
}

.content-comment {
  margin: 16px 0 0 48px;
  font-family: $basic-font;
  font-size: 14px;
  line-height: 17px;
  color: $comment-color;
}
