@import "../../../Components/style/default.scss";

.container-comment-page {
  width: 100%;
  margin-top: 48px;
  .wrapper-comment-post {
    width: 390px;
    padding: 20px 16px 0;
    margin: auto;
  }
}
