@import "../../Components/style/default.scss";

@mixin name {
}

footer {
  position: fixed;
  min-width: 390px;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 0.5px solid $line-color;

  .tabmenu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 34px 6px 39px;

    li {
      text-align: center;

      .menu-name {
        margin-top: 7px;
        font-size: 10px;
        font-family: $basic-font;
      }
    }
  }
}
