@import "../../Components/style/default.scss";

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 390px;
  background-color: $white;

  .wrapper-list-tabmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 34px 6px 39px;
    border-top: 0.5px solid $line-color;
  }
}
