@import "../style/default.scss";

.container-form-pagefooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 13px 16px 10px 16px;
  border-top: 0.5px solid $line-color;

  .img-icon-upload {
    cursor: pointer;
  }

  .img-profile-footer {
    width: 36px;
    height: 36px;
  }

  .textarea-pagefooter {
    flex-grow: 1;
    margin: 0 18px;
    height: 18px;
    line-height: 18px;

    &::placeholder {
      color: $search-placeholder-color;
      font-family: $basic-font;
      font-size: 14px;
    }
  }
  .btn-send-footer {
    color: $search-placeholder-color;
    font-family: $medium-font;
    font-size: 14px;
    cursor: pointer;
  }
}
