@import "../style/default.scss";

.form-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 12px 16px;

  .textarea-comment {
    flex-grow: 1;
    margin: 0 18px;
    height: 18px;
    line-height: 18px;
    border: none;
    outline: none;
    resize: none;
    &::placeholder {
      color: $search-placeholder-color;
      font-family: $basic-font;
      font-size: 14px;
    }
  }
  .btn-send {
    color: $search-placeholder-color;
    font-family: $medium-font;
    font-size: 14px;
  }
}
