@import "../../../Components/style/default.scss";

.container-login-email {
  color: $subtext-color;
  font-family: $medium-font;
  .title-login-email {
    margin-top: 30px;
    color: $text-color;
    font-family: $medium-font;
    font-size: 24px;
    text-align: center;
    line-height: 1;
  }
  .container-form {
    width: 322px;
    margin-top: 40px;
    .wrapper-email,
    .wrapper-password {
      margin-top: 10px;
      margin-bottom: 16px;
    }
    .label-email,
    .label-password {
      color: $subtext-color;
      font-family: $medium-font;
      font-size: 12px;
    }
    #input-email,
    #input-password {
      width: 100%;
      padding: 8px 0 8px;
      border-bottom: 1px solid $line-color;
      outline: 0;
      font-family: $basic-font;
      &:focus {
        border-bottom: 1px solid $primary-color;
      }
    }

    #input-password {
      margin-bottom: 0;
    }

    .errorMsg {
      margin-top: 6px;
      color: red;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      &.true {
        display: block;
      }
      &.false {
        display: none;
      }
    }
  }
  .link-signup {
    display: block;
    width: 92px;
    margin: 20px auto 0;
    color: $subtext-color;
    font-family: $basic-font;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
  }
}
