@import "../style/default.scss";

.article-post {
  padding: 4px 0 0 54px;
  position: relative;
  margin-bottom: 30px;
  .image-author.post {
    position: absolute;
    top: 0;
    left: 0;
  }
  .wrapper-author {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 16px;
    .text-username {
      font-size: 14px;
      font-family: $medium-font;
    }
    .text-accountname {
      font-size: 12px;
      font-family: $basic-font;
    }
  }
  .contents-post {
    .text-post {
      font-size: 14px;
      font-family: $basic-font;
      margin-bottom: 16px;
    }
    .container-post-image {
      width: 100%;
      padding-top: auto;
      background-color: #c4c4c4;
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 14.5px;
      .img-post {
        width: 100%;
      }
    }
    .container-button-post {
      display: flex;
      gap: 18.5px;
      margin-bottom: 18.5px;
    }
    .button-post {
      display: flex;
      gap: 8.5px;
      button {
        background-color: #767676;
        width: 15px;
        height: 15px;
      }
    }
    .text-post-date {
      display: block;
      font-size: 10px;
      font-family: $basic-font;
    }
  }
}
