@import "../style/default.scss";

.container-post {
  margin-top: 6px;
  background-color: $white;
  .wrapper-post {
    width: 390px;
    margin: auto;
  }
  .container-view-btn {
    border-bottom: 1px solid #dbdbdb;
  }
  .wrapper-view-btn {
    display: flex;
    justify-content: flex-end;
    gap: 22.5px;
    width: 390px;
    padding: 9px 16px;
    margin: auto;
    .btn-view {
      width: 26px;
      height: 26px;
      background-size: cover;
      background-position: center;
      &.post {
        background-image: url(../../assets/icon-post-list-on.svg);
      }
      &.album {
        background-image: url(../../assets/icon-post-list-off.svg);
      }
    }
  }
  .list-posts {
    padding: 16px 16px 70px;
  }
}

.article-post {
  padding-top: 4px;
  position: relative;
  margin-bottom: 30px;
  .contents-post {
    padding-left: 54px;
    .text-post {
      font-size: 14px;
      font-family: $basic-font;
      margin-bottom: 16px;
      line-height: 17px;
      color: $text-color;
    }
    .container-post-image {
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 14.5px;
      .img-post {
        width: 100%;
        display: block;
      }
    }
    .container-button-post {
      display: flex;
      gap: 18.5px;
      margin-bottom: 18.5px;
    }
    .button-post {
      display: flex;
      gap: 8.5px;
      button {
        background-color: #767676;
        width: 15px;
        height: 15px;
      }
    }
    .text-post-date {
      display: block;
      font-size: 10px;
      font-family: $basic-font;
    }
  }
}
