@import "../../../Components//style/default.scss";

.container-product {
  background-color: $white;
  margin-top: 6px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
  .wrapper-product {
    width: 390px;
    overflow-x: scroll;
    padding: 20px 0 2px 16px;
    margin: auto;
    &::-webkit-scrollbar {
      display: block;
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      height: 79px;
      border-radius: 10px;
      box-shadow: inset 0 0 10px 10px $line-color;
      border: solid 3px transparent;
    }
    ::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  h3 {
    color: $text-color;
    font-size: 16px;
    font-family: $bold-font;
    margin-bottom: 16px;
  }
  .list-products {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    .item-product {
      display: flex;
      flex-direction: column;
      width: 140px;

      .image-product {
        width: 140px;
        height: 90px;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 6px;
      }
      .text-product {
        font-family: $basic-font;
        font-size: 14px;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .text-product-price {
        font-family: $bold-font;
        font-size: 12px;
      }
    }
  }
}
