@import "../../components/style/variables";

.container-uploadpost {
  display: flex;
  width: 100%;
  margin-top: 68px;
  padding: 0 16px;

  .wrapper-write-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: nowrap;
    padding-left: 12px;
  }
  .img-profile-uploadpost {
    width: 42px;
    height: 42px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
  .textarea-uploadpost {
    width: 100%;
    margin: 12px 0 16px 0;
    line-height: 18px;
    font-family: $basic-font;
    font-size: 14px;
    word-break: keep-all;
  }
  .label-upload-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 16px 16px 0;
    cursor: pointer;
  }
}
