@import "../../../components//style/default.scss";

// 앨범 view 스타일
.list-posts.album {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  .article-post {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .img-author,
  .wrapper-author,
  .text-post,
  .container-btn-post,
  .text-post-date,
  .btn-user-more {
    display: none;
  }
  .container-post-image {
    width: 114px;
    height: 114px;
    margin-bottom: 0;
    border-radius: 0;
  }
}
